<!--The content below is only a placeholder and can be replaced.-->

<mat-grid-list cols="2" *ngIf="showLogin" >
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >
    <div class="example-container">
  <mat-form-field>
  <mat-select placeholder="Ordering Facility ID">
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
<mat-select placeholder="Processing Type">
    <mat-option *ngFor="let topping of processingTypeList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Table</mat-label>
    <input matInput placeholder={{toppings.name}}>
   
    
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Station</mat-label>
    <input matInput placeholder={{toppings.name}}>
   
    
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Default Suffix</mat-label>
    <input matInput placeholder={{toppings.name}}>
   
    
  </mat-form-field>
  <mat-form-field>
  <mat-select placeholder="Ordering Facility ID">
    <mat-option *ngFor="let topping of qlsList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
  
<button mat-raised-button color="primary" (click)="navigate($event)">Submit (Alt + S)</button>
  
</div>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >
	<div style="margin-left:50px">
    <img  style="" src="../assets/images/logo.png">
	<h1 class ="display-4" style="color:green;font-weight:300">WELCOME TO IDAA (v2018.11) ORDER ENTRY</h1>
	</div>
	 </mat-grid-tile>
</mat-grid-list>



<router-outlet></router-outlet>
